<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="shortcut icon" href="/logo.svg" type="image/x-icon">
    <title>Covid19 | Brazil</title>
</head>
<header>
    <div class="icons-header">
        <span class="icons">
            <a href="">
                <i class="fab fa-github"></i>
            </a>
        </span>
        <span class="icons">
            <a href="">
                <i class="fab fa-codepen"></i>
            </a>
        </span>
    </div>
    <div class="main">
        <img src="/logo.svg" alt="">
        <h1>COVID 19 | BRASIL</h1>
    </div>
    <span class="author">
        <a href=""></a>
        <p>Carlos Kauãn</p>
        <img src="https://avatars3.githubusercontent.com/u/62940724?s=460&u=bbb662a957e0bcd0522723f787dd29d5f841f24f&v=4"
            alt="">
    </span>
</header>

<body>
    <div class="content">
        <div class="card">
            <h1>Casos por estado</h1>
            <ul id="state-list">
                <li></li>
            </ul>
        </div>
        <div class="card">
            <h1>Mortes por estado</h1>
            <ul id="death-list">
                <li></li>
            </ul>
        </div>
        
    </div>
    <script src="addStates.js"></script>
</body>

</html>